
@{
    ViewBag.Title = "GioRong";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="text-center">
    <h2 class="text-uppercase">Đồ theo chủ đề</h2>
    <i>"Không có hàng!"</i>
</div>


