
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>XacNhanDonHang</h2>

<h2>
    Don Hang cua quy khac da duoc chung toi ghi nhan . Chung toi se lien he som nhat
</h2>

<p>
    @Html.ActionLink("Ve Trang Chu", "TrangChu", "Home")
</p>
